<!DOCTYPE html>
<html>
<head>
    <title>Додати цитату</title>
</head>
<body>
    <h1>Додати цитату</h1>
    <form method="post" action="{% url 'add_quote' %}">
        {% csrf_token %}
        <label for="quote_text">Текст цитати:</label>
        <textarea id="quote_text" name="quote_text" required></textarea><br>
        <label for="author">Автор:</label>
        <input type="text" id="author" name="author" required><br>
        <button type="submit">Додати цитату</button>
    </form>
</body>
</html>
